.SatelliteSection {
  display: flex;
  justify-content: center;
}
.AboutContent .RightSide {
  margin-left: 650px;
  margin-right: 20px;
}
.SatelliteBG {
  width: 100%;
}
.LeftSide {
  margin-left: 668px;
  margin-right: 20px;
}
.figures {
  display: flex;
  padding-top: 30px;
}
.figures-1 {
  margin-right: 20px;
}

.figures p:first-child {
  color: #df0303;
  font-family: "Montserrat", Sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.figures p:last-child {
  color: #222121;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.AboutContent .title {
  color: #df0303;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
}
.AboutContent .heading {
  color: #222121;
  font-family: "Montserrat", Sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: left;
}

p.SatelliteSectionDesc {
  width: 75%;
}

.AboutContent p {
  font-family: "Roboto", sans-serif;
  width: 100%;
  color: #222121;
  word-spacing: 1px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: initial;
  text-align: left;
}

.CheckNow {
  margin-top: 15px;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  fill: #fff;
  color: #fff;
  background-color: #010c3a;
  border-radius: 0px 0px 0px 0px;
  padding: 15px 30px 15px 30px;
  border: 0px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s;
  cursor: pointer;
}
.CheckNow:hover {
  transform: translateY(-5px);
  background-color: #df0303;
  box-shadow: 0 6px 12px rgba(223, 3, 3, 0.4);
}
@media only screen and (max-width: 1024px) {
  .SatelliteBG {
    background-position: inherit !important;
  }
}
@media only screen and (max-width: 768px) {
  .SatelliteSection {
    margin-top: 30px;
  }
  .figures-1 {
    margin-right: 10px;
  }
}
