.HeroContent {
  height: 370px;
  text-align: center;
  padding-top: 100px;
}
.btn-findnow {
  background-color: #df0303;
  color: #ffffff;
  border: 0;
  padding: 12px;
  border-radius: 2px;
  cursor: pointer;
  width: 20%;
}
.searchBar {
  margin-top: 20px;
  text-align: center;
}
input.searchBar {
  background-color: #e6e7ecad;
  border-width: 0;
  padding: 12px;
  margin-right: 10px;
  width: 35%;
  text-align: left;
}
/* p {
  width: 90%;
  color: #222121;
  word-spacing: 1px;
  letter-spacing: 0.2px;
  font-weight: 100;
  text-transform: initial;
} */
.title {
  text-align: center;
  color: #df0303;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.subTitle {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 1px;
  margin-top: -10px;
  text-transform: capitalize;
}
p {
  width: 100%;
  font-size: 16px;
  color: white;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
  margin-top: -10px;
  text-transform: capitalize;
}
@media only screen and (max-width: 1024px) {
  input.searchBar {
    width: 50%;
  }
}
