.HeroContent {
  height: 370px;
  text-align: center;
  padding-top: 100px;
}
.btn-findnow {
  background-color: #df0303;
  color: #ffffff;
  border: 0;
  padding: 12px;
  border-radius: 2px;
  cursor: pointer;
  width: 20%;
}
.searchBar {
  margin-top: 20px;
}
input.searchBar {
  background-color: #ffffffbf;
  border-width: 0;
  padding: 12px;
  margin-right: 10px;
  width: 35%;
}
p {
  width: 90%;
  color: #222121;
  word-spacing: 1px;
  letter-spacing: 0.2px;
  font-weight: 100;
  text-transform: initial;
}
.title {
  color: #df0303;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.subTitle {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 1px;
}
p {
  width: 100%;
  color: black;
  word-spacing: 1px;
  letter-spacing: 1.5px;
  font-weight: 100;
  text-transform: initial;
}
