.mainSection {
  padding-bottom: 100px;
}
.app-container {
  max-width: 100%;
  margin: auto;
  padding: 0;
}
.mainContent {
  padding-top: 113px;
  padding-left: 86px;
  width: 45%;
}
.mainContent .title {
  color: #df0303;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
}
.mainContent .subTitle {
  color: #222121;
  font-family: "Montserrat", Sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 1px;
  text-align: left;
}
.mainContent p {
  font-family: "Roboto", sans-serif;
  width: 90%;
  color: #222121;
  word-spacing: 1px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: initial;
  text-align: left;
}
.mainContent .searchBar {
  text-align: left;
}
.mainContent input.searchBar {
  background-color: #9697adad;
  border-width: 0;
  padding: 12px;
  margin-right: 10px;
  width: 35%;
  text-align: left;
}
.btn-findnow {
  background-color: #010c3a !important;
  color: #ffffff;
  border: 0;
  padding: 12px;
  border-radius: 2px;
  cursor: pointer;
  width: 20%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s;
}
.btn-findnow:hover {
  transform: translateY(-5px);
  background-color: #df0303 !important;
  box-shadow: 0 6px 12px rgba(223, 3, 3, 0.4);
}
.searchBar {
  margin-top: 20px;
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  .mainContent .subTitle {
    font-size: 25px;
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .mainContent {
    width: 52%;
    padding-left: 10px;
  }
  .mainSection {
    padding-bottom: 0px;
  }
}
