.container {
  max-width: 1164px;
  margin: auto;
  padding: 0 15px;
}
.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.leftSide img {
  width: 190px;
}
.rightSide a {
  text-decoration: none;
  padding: 12px;
  color: black;
}
.header-searchBar {
  width: 20%;
  padding: 5px;
  border: 0;
}
/* Navbar.css */

/* Other styles... */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Other styles... */
/* Navbar.css */
/* ... Your existing styles ... */

.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease;
  background-color: #f5f5f5;
}

.sidebar.open {
  left: 0;
}

@media screen and (max-width: 1024px) {
  .Navbar {
    display: flex;
    justify-content: flex-end;
  }

  .rightSide {
    display: none;
  }

  .sidebar {
    display: block;
  }
}
