.container {
  max-width: 1164px;
  margin: auto;
  padding: 0 15px;
}
.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ImgLogo {
  width: 190px;
}
.rightSide a {
  text-decoration: none;
  padding: 12px;
  color: black;
}
.header-searchBar {
  width: 20%;
  padding: 5px;
  border: 0;
  margin-bottom: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #ffffff;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  position: absolute;
  display: inline-grid;
  margin-top: 36px;
  margin-left: -105px;
  width: max-content;
  /* padding: 10px; */
}
.dropdown-content a {
  padding: 20px;
}
.dropdown-content a:hover {
  background: #df0303;
  color: white;
  padding: 20px;
}
/* for sidebar menu */
/* Existing styles for Navbar */

/* New styles for sidebar */
/* Existing styles for Navbar */

/* Media query for screens greater than 1024px */
@media (min-width: 1024px) {
  .sidebar {
    display: none;
  }

  .rightSide {
    display: flex;
  }
  .menu-button {
    display: none;
  }
}
@media (max-width: 1024px) {
  .rightSide {
    display: none;
  }
}
