.ServiceProviderBG {
  height: 700px;
}

p.SatelliteSectionDesc {
  width: 75%;
}

.AboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 65px;
}
/* .leftSide {
  margin-right: 40px;
  margin-top: -100px;

} */
.Counter {
  background: #df0303;
  padding: 20px;
  border-radius: 106px;
  position: absolute;
  box-shadow: 0 6px 12px rgba(223, 3, 3, 0.4);
}
.Counter p {
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", Sans-serif;
  margin-top: 10px;
}
.Counter h1 {
  text-align: center;
  font-family: "Montserrat", Sans-serif;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  margin-top: -10px;
}
.Counter h2 {
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", Sans-serif;
  margin-top: -10px;
}
.rightSide {
  position: relative;
}
@media screen and (max-width: 1280px) {
  p.SatelliteSectionDesc {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .AboutContent {
    flex-wrap: wrap;
  }
  .AboutContent .RightSide {
    margin: 0px;
  }
  /* p.SatelliteSectionDesc {
    width: 100%;
  } */
}
@media only screen and (max-width: 768px) {
  /* .Counter {
    left: -47px;
  } */
  .AboutContent {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    flex-direction: column-reverse;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  p.SatelliteSectionDesc {
    width: 100%;
  }
  .serviceimg img {
    width: 300px;
    margin-bottom: 20px;
  }
}
