.custom-container {
  margin-top: 20px;
  padding: 60px;
}
span {
  cursor: pointer;
}
.jump-to-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-data {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  font-family: "Oswald", "Helvetica", "Arial", sans-serif !important;
  font-weight: 700;
  text-transform: initial;
  text-align: center;
}
.table-head {
  text-align: center;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
li {
  list-style: none;
}
.table-data ul li {
  text-transform: initial;
}
table.table.table-bordered {
  margin-bottom: 100px;
}
